---
layout: loop-application
type: theme
title: Tools App
description: Best Android Tools Application Review!
permalink: /application/tools/

meta-title: Tools App
meta-description: Best Android Tools Application Review!
---

<div class="container">

  <!-- Show paginated posts for the specificed collection -->
  <div class="row">
    {% assign sorted = site.application | sort: "tools" %}
    {% for application in sorted %}
    {% if application.categories contains 'tools' %}
    <div class="col-md-4">
      <div class="item-preview mb-5">
        <a class="item-preview-img box-shadow-lg d-block mb-3" href="{{ tools.src }}">
          <img class="img-fluid" src="{{ tools.img-thumbnail }}" alt="{{ tools.img-desc }}">
        </a>
        <div class="item-preview-title">{{ tools.title }}</div>
        <div class="item-preview-description">{{ tools.bump }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
