<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Andrimo Review</strong> name is now changed to <strong>HubsAdda Review</strong>. All content is same only name changed. For more information <a href="https://hubsadda.com/contact-us/">contact us</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light sb-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="ml-1">HubsAdda Review</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto pt-3 pt-lg-0">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Application
          </a>
          <div class="dropdown-menu border-0 shadow animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/application/tools/">Tools</a>

            
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="#"> Social <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
            </span>
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="#">Protography <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
            </span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Games
          </a>
          <div class="dropdown-menu border-0 shadow animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/games/racing/">Racing</a>

            
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="#"> Sports <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
            </span>
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="#">Puzzle <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
            </span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Learn
          </a>
          <div class="dropdown-menu border-0 shadow animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/guides/">Guides &amp; Tutorials</a>
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="#">Courses <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
            </span>
            <div class="dropdown-divider"></div>
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="#">Books <span class="ml-2 badge badge-pill badge-secondary d-lg-none">Under Development!</span></a>
            </span>
          </div>
        </li>
        </ul>
      <ul class="navbar-nav pb-3 pb-lg-0">
         <a class="nav-link" href="/submit"><i class="fas fa-paper-plane"></i>  Submit</a>
          </a>
        </li>
         
     
        <!-- Slack disabled temporarily -->
        <!-- <li class="nav-item d-none d-lg-inline-block">
          <a href="https://startbootstrap-slack.herokuapp.com/" class="nav-link">
            <i class="fab fa-slack"></i>
          </a>
        </li> -->
        <!-- Search disabled temporarily -->
        <!-- <li class="nav-item d-none d-lg-inline-block">
          <a href="#" class="nav-link">
            <i class="fas fa-search"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
