<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include navigation.html %}

  {% include twitch.html %}

  <main>
    {{ content }}
  </main>

  {% include marketing.html %}

  {% include mailchimp.html %}

  {% include footer.html %}

  {% include scripts.html %}
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB2UGpH_SYTQonbQ2tdpVpmWhrvvNWkZXU",
    authDomain: "hubsadda-tools.firebaseapp.com",
    databaseURL: "https://hubsadda-tools.firebaseio.com",
    projectId: "hubsadda-tools",
    storageBucket: "hubsadda-tools.appspot.com",
    messagingSenderId: "983304366686",
    appId: "1:983304366686:web:80907764bca1e2998262cf"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

</body>

</html>
