<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="preview-page">

  <div class="preview-bar bg-white fixed-top py-2 border-bottom-primary">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-between h-100">
        <div class="col">
          <i class="fas fa-share"></i>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_copy_link"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
        </div>
        <div class="col d-none d-lg-block">
          <ul class="nav responsive-toggler justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="desktopToggle" data-toggle="tab" href="#" role="tab" aria-selected="true">
                <i class="fas fa-desktop"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="mobileToggle" data-toggle="tab" href="#" role="tab" aria-selected="false">
                <i class="fas fa-mobile-alt"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col text-right">
          <a href="{{ page.download }}" rel="nofollow" class="btn btn-primary btn-sm mr-2 d-none d-md-inline-block" onclick="ga('send','event','Download','click','{{ page.title }}')">Download</a>
          <a href="{{ page.remove-frame }}" rel="nofollow" class="btn btn-link btn-sm"><i class="fas fa-times"></i> Remove Frame</a>
        </div>
      </div>
    </div>
  </div>

  <iframe class="iframe-preview" width="100%" src="{{ page.preview-link }}"></iframe>

  {% include scripts.html %}

  <script>
    $("#desktopToggle").on('click', function(e) {
      e.preventDefault();
      $(".iframe-preview").removeClass("iframe-preview-mobile");
    });
    $("#mobileToggle").on('click', function(e) {
      e.preventDefault();
      $(".iframe-preview").addClass("iframe-preview-mobile");
    });
  </script>

</body>

</html>
